*{
    padding: 0;
    margin: 0;
}
ul {
  list-style-type: none;
}
#header,#lnr,#aud{
	height:50px;
	width:100%;
	background-color:#4E4D4A;
}
#link{
	float:right;
	height:50px;
    width: 200px;
    margin: auto;
	line-height: 50px;
	text-align: center;
	font-size:20px;
	color:#FFFFFF;
	font-family: Century Gothic,Arial,Helvetica,sans-serif;
}
#link:hover,#lnrlink:hover,#audlink:hover{
	background-color:#4CAF50;
}

.active{
    background-color:#4CAF50;
}
a{
    text-decoration: none;
}

#search{
	width:100%;
	height:80px;
	text-align: center;
	line-height: 80px;
}
#tfCityname,#oldCity,#newCity{
    border: 2px solid #4E4D4A;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size:16px;
    font-family: Century Gothic,Arial,Helvetica,sans-serif;
}
#btnSearch,#btnAdd,#btnUpdate,#btnDelete,#btnLogout{
	background-color: #4CAF50;
	border-radius: 10px;
	border: none;
	color: white;
	padding: 12px 20px;
	margin-right: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: Century Gothic,Arial,Helvetica,sans-serif;
}
#weather{
	font-size:20px;
	margin: auto;
	border-radius: 10px;
	border:2px solid #4CAF50;
	width:60%;
	height:140px;
	text-align: center;
}
#tbWeather{
	width:100%;
}
#today{
	background-color: #4CAF50;
	border-radius: 8px;
	color:#FFFFFF;
	font-size:22px;
	font-weight:bold;
	height:30px;
}
#login{
	border-radius: 10px;
	border:2px solid #4CAF50;
    font-size:20px;
    font-family: Century Gothic,Arial,Helvetica,sans-serif;
    margin: auto;
    width:30%;
    height:230px;
    text-align: center;
}
#registration{
	border-radius: 10px;
	border:2px solid #4CAF50;
    font-size:20px;
    font-family: Century Gothic,Arial,Helvetica,sans-serif;
    margin: auto;
    width:30%;
    height:300px;
    text-align: center;
}

#loginTable,#regiTable{
    margin: 0 auto;
}
#lemail,#lpassword,#remail,#rpassword,#rrpassword{
    border: 2px solid #4E4D4A;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size:16px;
    font-family: Century Gothic,Arial,Helvetica,sans-serif;
}
#btnlogin,#btnregi{
	background-color: #4CAF50;
	border-radius: 10px;
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: Century Gothic,Arial,Helvetica,sans-serif;
}
#lnrlink{
	float:left;
	height:50px;
    width: 50%;
    margin: auto;
	line-height: 50px;
	text-align: center;
	font-size:20px;
	color:#FFFFFF;
	font-family: Century Gothic,Arial,Helvetica,sans-serif;
}
#audForm{
	border-radius: 10px;
	border:2px solid #4CAF50;
    font-size:20px;
    font-family: Century Gothic,Arial,Helvetica,sans-serif;
    margin: auto;
    width:30%;
    height:130px;
    text-align: center;
}
#audFormUpdate{
	border-radius: 10px;
	border:2px solid #4CAF50;
    font-size:20px;
    font-family: Century Gothic,Arial,Helvetica,sans-serif;
    margin: auto;
    width:30%;
    height:230px;
    text-align: center;
}

#audlink{
	float:left;
	height:50px;
    width: 33.3333%;
    margin: auto;
	line-height: 50px;
	text-align: center;
	font-size:20px;
	color:#FFFFFF;
	font-family: Century Gothic,Arial,Helvetica,sans-serif;
}
#logout{
	float: right;
}