<br>
<div id="logout" ng-controller="logout">
    <button id="btnLogout" ng-click="logout()">Logout</button>
</div>
<div id="audForm">
    <nav id="aud">
        <a id="audlink" href="#!/bookmarkAdd">Add</a>
        <a id="audlink" href="#!/bookmarkUpdate">Update</a>
        <a id="audlink" class="active" href="#!/bookmarkDelete">Delete</a>
    </nav>
	<input type="text" id="tfCityname" placeholder="City Name"/>
	<button id="btnDelete" ng-click="delete()">Delete</button>
</div>
<br>
<div id="bookmark" ng-controller="getBookmark">
    <ul>
        <li ng-repeat ="weatherinfo in weatherinfos">
            <div id="weather">
                <div id="today">{{today}}</div>
                <table id="tbWeather">
                    <tr>
                        <td rowspan="5">
                            <div id="showCity">{{weatherinfo.city + ", " + weatherinfo.country}}</div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td><div id="temp"><b>Weather:</b> {{weatherinfo.weatherMain + ", " + weatherinfo.weatherDescription}}</div></td>
                    </tr>
                    
                    <tr>
                        <td><div id="temp"><b>Temperature:</b> {{weatherinfo.temperature}}&#176C</div></td>
                    </tr>
                    
                    <tr>
                        <td><div id="temp_range"><b>Max:</b> {{weatherinfo.temperature_max}}&#176C  <b>Min:</b> {{weatherinfo.temperature_min}}&#176C</div></td>
                    </tr>
                    
                    <tr>
                        <td><div id="humidity"><b>Humidity:</b> {{weatherinfo.humidity}}%</div></td>
                    </tr>
                    
                </table>
            </div>
            <br>
        </li>
    </ul>
</div>