<!DOCTYPE html>
<html>
    <head>
        <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/lnr.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body ng-app="weather">
        <nav id="header" ng-controller='chkCookie'>
            <a id="link" class="login" href="#!/login">{{email}}</a>
            <a id="link" href="/">Weather</a>
        </nav>
        
        <div ng-view></div>

    </body>
</html>