<br>
<br>
<br>
<div id="login">
    <nav id="lnr">
        <a id="lnrlink" class="active" href="#!/login">Login</a>
        <a id="lnrlink" href="#!/registration">Registration</a>
    </nav>
    <table id="loginTable">
        <tr>
            <td><input type="email" id="lemail" placeholder="Email"/></td>
        </tr>
        <tr>
            <td><input type="password" id="lpassword" placeholder="Password"/></td>
        </tr>
        <tr>
            <td><button id="btnlogin" >Login</button></td>
        </tr>
    </table>
</div>