<br>
<br>
<br>
<div id="registration">
    <nav id="lnr">
        <a id="lnrlink" href="#!/login">Login</a>
        <a id="lnrlink" class="active" href="#!/registration">Registration</a>
    </nav>
    <table id="regiTable">
        <tr>
            <td><input type="email" id="remail" placeholder="Email"/></td>
        </tr>
        <tr>
            <td><input type="password" id="rpassword" placeholder="Password"/></td>
        </tr>
        <tr>
            <td><input type="password" id="rrpassword" placeholder="Confirm Password"/></td>
        </tr>
        <tr>
            <td><button id="btnregi">Registration</button></td>
        </tr>
    </table>
</div>