<div id="search">
		<input type="text" id="tfCityname" placeholder="City Name"/>
		<button id="btnSearch" ng-click="search()">Search</button>
</div>
<div id="weather">
    <ul>
        <li ng-repeat ="weatherinfo in weatherinfos">
            <div id="today">{{today}}</div>
            <table id="tbWeather">
                <tr>
                    <td rowspan="5">
                        <div id="showCity">{{weatherinfo.city + ", " + weatherinfo.country}}</div>
                    </td>
                </tr>
                
                <tr>
                    <td><div id="temp"><b>Weather:</b> {{weatherinfo.weatherMain + ", " + weatherinfo.weatherDescription}}</div></td>
                </tr>
                
                <tr>
                    <td><div id="temp"><b>Temperature:</b> {{weatherinfo.temperature}}&#176C</div></td>
                </tr>
                
                <tr>
                    <td><div id="temp_range"><b>Max:</b> {{weatherinfo.temperature_max}}&#176C  <b>Min:</b> {{weatherinfo.temperature_min}}&#176C</div></td>
                </tr>
                
                <tr>
                    <td><div id="humidity"><b>Humidity:</b> {{weatherinfo.humidity}}%</div></td>
                </tr>
                
            </table>
        </li>
    </ul>
</div>